// https://flatuicolors.com/palette/se
$true_black: rgba(30, 39, 46, 1);
$light_grey: rgba(210, 218, 226, 1);
$grey: rgba(128, 142, 155, 1);
$dark_grey: rgba(72, 84, 96, 1);
$black: rgba(30, 39, 46, 0.8);

$light_yellow: rgba(255, 221, 89, 1);
$yellow: rgba(255, 211, 42, 1);

$pink: rgba(239, 87, 119, 1);
$red: rgba(245, 59, 87, 1);

$light_green: rgba(11, 232, 129, 1);
$green: rgba(5, 196, 107, 1);

$white: rgba(255, 255, 255, 0.8);
